:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row17 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  height: 136px;
  background-color: var(--igx-primary-300);
}
.row18 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  width: 1200px;
}
.row19 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin: 0 32px 0 0;
  width: 200px;
}
.image1 {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  object-fit: cover;
}
.column8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  flex: 1 1 auto;
}
.title16 {
  text-align: Left;
}
.row20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding: 0 32px;
  flex: 1 1 auto;
  background-color: var(--igx-surface-500);
}
.row21 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  width: 1200px;
  flex: 1 1 auto;
}
.column9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: 0 32px 0 0;
  padding: 16px;
  width: 200px;
  background-color: var(--igx-grays-100);
}
.row22 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: 0 0 16px;
}
.title17 {
  margin: 0 0 4px;
  text-align: Left;
}
.row23 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  margin: 0 0 4px;
}
.icon12 {
  margin: 0 8px 0 0;
}
.row24 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
.column10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: 0 0 16px;
  flex: 1 1 auto;
  background-color: transparent;
}
.row25 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  margin: 0 0 16px;
  height: 48px;
  background-color: var(--igx-surface-500);
}
.row26 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: 0 0 32px;
}
.title18 {
  margin: 0 0 16px;
  text-align: Left;
}
.row27 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: 0 0 16px;
}
.input5 {
  margin: 0 8px 16px 0;
}
.input11 {
  margin: 0 8px 0 0;
  width: 100px;
}
.input13 {
  width: 100px;
}
.title19 {
  margin: 0 0 8px;
  text-align: Left;
}
.row28 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  height: 40px;
}
.row29 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  width: 1200px;
}
