/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@import "~minireset.css/minireset";



html, body {
  height: 100%;
}

@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
$custom-palette: igx-palette(
	$primary: #007bff,
	$secondary: #6c757d,
	$surface: #f8f9fa,
	$error: #dc3545,
	$warn: #ffc107,
	$info: #17a2b8,
	$grays: #000000);
@include igx-theme($palette: $custom-palette, $schema: $light-bootstrap-schema, $roundness: null, $elevation: null);
@include igx-typography($font-family: "Roboto", $type-scale: $bootstrap-type-scale);
$igx-background-color: igx-color($custom-palette, 'surface');
$igx-foreground-color: text-contrast($igx-background-color);
:root {
	@include css-vars-from-palette($custom-palette);

	body {
		background: $igx-background-color;
		color: $igx-foreground-color;
	}
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}