<!-- <div class="header row3">
  <div class="row4">
    <div class="row5">
      <igx-icon [isActive]="true" fontSet="material" class="icon2">home</igx-icon>
      <h4 class="title2">Home</h4>
    </div>
  </div>
</div>
<div class="row6">
  <div class="row7">
    <div class="column1">
      <div class="row8">
        <igx-avatar size="medium" src="https://avatarfiles.alphacoders.com/693/69306.jpg" [roundShape]="true" class="avatar2"></igx-avatar>
        <div class="column2">
          <h5 class="title3">Homer Simpson</h5>
          <p class="igx-typography__body-1">Nuclear Safety Inspector</p>
        </div>
      </div>
      <div class="row9">
        <div class="column3">
          <p class="igx-typography__subtitle-2">Open PTO</p>
          <igx-icon [isActive]="true" fontSet="material" class="icon3">date_range</igx-icon>
          <p class="igx-typography__body-2">8.5 DAYS USED (YTD)</p>
          <p class="igx-typography__caption">1 day scheduled</p>
        </div>
        <div class="column3">
          <p class="igx-typography__subtitle-2">Bereavement leave</p>
          <div class="row10">
            <h6 class="title5">0.0</h6>
            <igx-icon [isActive]="true" fontSet="material" color="var(--igx-primary-500)">date_range</igx-icon>
          </div>
          <p class="igx-typography__body-2">DAYS AVAILABLE</p>
          <p class="igx-typography__caption">0 day(s) scheduled</p>
        </div>
      </div>
      <div class="row11">
        <button igxButton="raised" [disabled]="false" class="button2">
          <igx-icon class="buttonicon2">send</igx-icon>
          Request Time Off
        </button>
        <button igxButton="icon" [disabled]="false" type="icon">
          <igx-icon>email</igx-icon>
        </button>
      </div>
      <div class="column4">
        <p class="igx-typography__subtitle-2">Celebrations</p>
        <igx-list class="list1">
          <igx-list-item>
            <igx-avatar size="small" src="https://cdn1.thr.com/sites/default/files/2018/04/simpapunahasapeemapetilon_hires2_copy_-_h_2018.jpg" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Apu Nahasapeemapetilon</h4>
            <p igxListLineSubTitle>Jul 28- 8th anniversary</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>star</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" src="https://pbs.twimg.com/profile_images/1748745781/500px-Moe_Szyslak_400x400.png" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Moe Szyslak</h4>
            <p igxListLineSubTitle>Happy birthday</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>cake</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" src="https://i.pinimg.com/originals/e5/4a/bc/e54abc44b68d6b2770696b789b20dafa.png" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Abraham Simpson II</h4>
            <p igxListLineSubTitle>Jul 28- 8th anniversary</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>star</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" src="https://www.pngkit.com/png/detail/41-416703_the-simpsons-ned-flanders-ned-flanders.png" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Ned Flanders</h4>
            <p igxListLineSubTitle>Jul 28- 8th anniversary</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>star</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTasFAS_pboGitfweru84prkCrEvSn9YRFlYw&usqp=CAU" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Eddie the cop</h4>
            <p igxListLineSubTitle>Jul 28- 8th anniversary</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>star</igx-icon>
          </igx-list-item>
        </igx-list>
      </div>
    </div>
    <div class="column5">
      <div class="column6">
        <div class="row12">
          <p class="igx-typography__subtitle-2">WHAT'S HAPPENING AT SPRINGFIELD POWER CO.</p>
          <p class="igx-typography__subtitle-2">Announcements (1)</p>
        </div>
        <igx-list class="list1">
          <igx-list-item>
            <igx-avatar size="small" src="https://s.yimg.com/ny/api/res/1.2/ug7.wdJVmYWFl4sGj3t3lg--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NjMwO2g9MzU0O2lsPXBsYW5l/http://l.yimg.com/os/423/2013/05/06/Simpsons-Marge-630-jpg_201350.jpg" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Marge Simpson posted  an announcement, awards, and call for nominations</h4>
            <p igxListLineSubTitle>19 days ago</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>close</igx-icon>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="column7">
        <div class="row13">
          <igx-icon [isActive]="true" fontSet="material" class="icon2">favorite_border</igx-icon>
          <p class="igx-typography__subtitle-2">MY BENEFITS</p>
        </div>
        <igx-list class="list1">
          <igx-list-item>
            <igx-avatar size="small" icon="security" bgColor="var(--igx-grays-100)" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Radiation protection health insurance plan</h4>
            <p igxListLineSubTitle>Jan 1, 2020- Dec 31, 2020  |   $600 every other week</p>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" icon="remove_red_eye" bgColor="var(--igx-grays-100)" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>20/20 Vision plan</h4>
            <p igxListLineSubTitle>Jan 1, 2020- Dec 31, 2020  |  $234 every other week</p>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" icon="child_care" bgColor="var(--igx-grays-100)" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Child care savings</h4>
            <p igxListLineSubTitle>Jan 1, 2020- Dec 31, 2020  |   $4955 remaining</p>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" icon="whatshot" bgColor="var(--igx-grays-100)" [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Fire hazard protection  </h4>
            <p igxListLineSubTitle>Jan 1, 2020- Dec 31, 2020  |  On da house!</p>
          </igx-list-item>
        </igx-list>
      </div>
    </div>
  </div>
</div>
<div class="row14">
  <div class="row15">
    <div class="row16">
      <igx-icon [isActive]="true" fontSet="material" class="icon2">copyright</igx-icon>
      <p class="igx-typography__body-2">Copyright 1998 - 2020</p>
    </div>
    <p class="igx-typography__body-2">Springfield Power Co.</p>
  </div>
</div> -->

<!-- New layout -->
<div class="row banner">
  <div class="row banner__text">
    <igx-icon [isActive]="true" fontSet="material" class="icon">home</igx-icon>
    <h4 class="title2">Home</h4>
  </div>
</div>
<div class="middle row row--centered">
  <div class="row row--centered middle__content">
    <div class="social">
      <div class="social__personal-info">
        <igx-avatar size="medium" src="https://avatarfiles.alphacoders.com/693/69306.jpg" [roundShape]="true">
        </igx-avatar>
        <div class="section">
          <h5>Homer Simpson</h5>
          <p class="igx-typography__body-1">Nuclear Safety Inspector</p>
        </div>
      </div>
      <div class="social__time-off row">
        <div class="column section column--centered">
          <p class="igx-typography__subtitle-2 padded">Open PTO</p>
          <igx-icon [isActive]="true" fontSet="material" class="icon padded">date_range</igx-icon>
          <p class="igx-typography__body-2">8.5 DAYS USED (YTD)</p>
          <p class="igx-typography__caption">1 day scheduled</p>
        </div>
        <div class="column section column--centered">
          <p class="igx-typography__subtitle-2 padded">Bereavement leave</p>
          <div class="row padded">
            <h6>0.0</h6>
            <igx-icon [isActive]="true" fontSet="material" color="var(--igx-primary-500)">date_range</igx-icon>
          </div>
          <p class="igx-typography__body-2">DAYS AVAILABLE</p>
          <p class="igx-typography__caption">0 day(s) scheduled</p>
        </div>
      </div>
      <div class="row social__buttons section">
        <button igxButton="raised" [disabled]="false" class="button2">
          <igx-icon class="button">send</igx-icon>
          Request Time Off
        </button>
        <button igxButton="icon" [disabled]="false" type="icon">
          <igx-icon>email</igx-icon>
        </button>
      </div>
      <div class="section">
        <p class="igx-typography__subtitle-2">Celebrations</p>
        <igx-list class="list1">
          <igx-list-item>
            <igx-avatar size="small"
              src="https://cdn1.thr.com/sites/default/files/2018/04/simpapunahasapeemapetilon_hires2_copy_-_h_2018.jpg"
              [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Apu Nahasapeemapetilon</h4>
            <p igxListLineSubTitle>Jul 28- 8th anniversary</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>star</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" src="https://pbs.twimg.com/profile_images/1748745781/500px-Moe_Szyslak_400x400.png"
              [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Moe Szyslak</h4>
            <p igxListLineSubTitle>Happy birthday</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>cake</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" src="https://i.pinimg.com/originals/e5/4a/bc/e54abc44b68d6b2770696b789b20dafa.png"
              [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Abraham Simpson II</h4>
            <p igxListLineSubTitle>Jul 28- 8th anniversary</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>star</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small"
              src="https://www.pngkit.com/png/detail/41-416703_the-simpsons-ned-flanders-ned-flanders.png"
              [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Ned Flanders</h4>
            <p igxListLineSubTitle>Jul 28- 8th anniversary</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>star</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTasFAS_pboGitfweru84prkCrEvSn9YRFlYw&usqp=CAU"
              [roundShape]="true" igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Eddie the cop</h4>
            <p igxListLineSubTitle>Jul 28- 8th anniversary</p>
            <igx-icon [isActive]="true" fontSet="material" igxListAction>star</igx-icon>
          </igx-list-item>
        </igx-list>
      </div>
    </div>
    <div class="feed">
      <div class="feed__events">
        <div class="events">
          <div class="row events__banner">
            <p class="igx-typography__subtitle-2">WHAT'S HAPPENING AT SPRINGFIELD POWER CO.</p>
            <p class="igx-typography__subtitle-2">Announcements (1)</p>
          </div>
          <igx-list class="events__post">
            <igx-list-item>
              <igx-avatar size="small"
                src="https://s.yimg.com/ny/api/res/1.2/ug7.wdJVmYWFl4sGj3t3lg--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NjMwO2g9MzU0O2lsPXBsYW5l/http://l.yimg.com/os/423/2013/05/06/Simpsons-Marge-630-jpg_201350.jpg"
                [roundShape]="true" igxListThumbnail></igx-avatar>
              <h4 igxListLineTitle>Marge Simpson posted an announcement, awards, and call for nominations</h4>
              <p igxListLineSubTitle>19 days ago</p>
              <igx-icon [isActive]="true" fontSet="material" igxListAction>close</igx-icon>
            </igx-list-item>
          </igx-list>
        </div>
      </div>
      <div class="feed__benefits">
        <div class="row benefits__header">
          <igx-icon [isActive]="true" fontSet="material" class="icon">favorite_border</igx-icon>
          <p class="igx-typography__subtitle-2">MY BENEFITS</p>
        </div>
        <igx-list class="list1">
          <igx-list-item>
            <igx-avatar size="small" icon="security" bgColor="var(--igx-grays-100)" [roundShape]="true"
              igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Radiation protection health insurance plan</h4>
            <p igxListLineSubTitle>Jan 1, 2020- Dec 31, 2020 | $600 every other week</p>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" icon="remove_red_eye" bgColor="var(--igx-grays-100)" [roundShape]="true"
              igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>20/20 Vision plan</h4>
            <p igxListLineSubTitle>Jan 1, 2020- Dec 31, 2020 | $234 every other week</p>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" icon="child_care" bgColor="var(--igx-grays-100)" [roundShape]="true"
              igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Child care savings</h4>
            <p igxListLineSubTitle>Jan 1, 2020- Dec 31, 2020 | $4955 remaining</p>
          </igx-list-item>
          <igx-list-item>
            <igx-avatar size="small" icon="whatshot" bgColor="var(--igx-grays-100)" [roundShape]="true"
              igxListThumbnail></igx-avatar>
            <h4 igxListLineTitle>Fire hazard protection </h4>
            <p igxListLineSubTitle>Jan 1, 2020- Dec 31, 2020 | On da house!</p>
          </igx-list-item>
        </igx-list>
      </div>
    </div>
  </div>
</div>
<div class="footer row">
  <div class="footer__title row row--centered">
    <igx-icon [isActive]="true" fontSet="material" class="icon">copyright</igx-icon>
    <p class="igx-typography__body-2">Copyright 1998 - 2020</p>
  </div>
  <p class="igx-typography__body-2">Springfield Power Co.</p>
</div>